@font-face {
    font-family: 'Interblack';
    src: local('Inter Black'), local('Inter-Black'),
        url('Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
    
    
    
    
    
    
@font-face {
    font-family: 'Interblackitialic';
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
        url('Inter-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Interbolditialic';
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('Inter-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Interbold';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Librebaskervillebold';
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
        url('LibreBaskerville-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Intersemibold';
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Interitialic';
    src: local('Inter Italic'), local('Inter-Italic'),
        url('Inter-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Intersemibolditialic';
    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
        url('Inter-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Librebaskerville';
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
        url('LibreBaskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratbold';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratblack';
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratbolditialic';
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('Montserrat-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratitalic';
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('Montserrat-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
    
    
@font-face {
    font-family: 'Montserratsemibold';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Mulibold';
    src: local('Muli Bold'), local('Muli-Bold'),
        url('Muli-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Muliblack';
    src: local('Muli Black'), local('Muli-Black'),
        url('Muli-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Mulisemibold';
    src: url('Muli-SemiBold.eot');
    src: local('Muli SemiBold'), local('Muli-SemiBold'),
        url('Muli-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'muli';
    src: local('Muli Regular'), local('Muli-Regular'),
        url('Muli-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Playfairdisplaybold';
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
        url('PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Playfairdisplay';
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
        url('PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'lato';
    src: local('Lato Regular'), local('Lato-Regular'),
        url('Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Latobold';
    src: local('Lato Bold'), local('Lato-Bold'),
        url('Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
font-family: 'berkshire_swashregular';
src: url('berkshireswash-regular-webfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;}