@font-face {
    font-family: 'Bebasneue';
    src: local('Bebas Neue'), local('BebasNeue'),
        url('BebasNeue.woff2') format('woff2') ;
    font-weight: normal;
    font-style: normal;
    font-display: swap;}






@font-face {
    font-family: 'Bebasneuebold';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('BebasNeueBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Bebasneuebook';
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('BebasNeueBook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Bebasneueregular';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('BebasNeueRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Interblack';
    src: local('Inter Black'), local('Inter-Black'),
        url('Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Interblackitialic';
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
        url('Inter-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Interboldextraitialic';
    src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
        url('Inter-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Interextrabold';
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('Inter-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Interbolditialic';
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('Inter-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Interbold';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Librebaskervillebold';
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
        url('LibreBaskerville-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Intersemibold';
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Interitialic';
    src: local('Inter Italic'), local('Inter-Italic'),
        url('Inter-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Librebaskervilleitalic';
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
        url('LibreBaskerville-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}





@font-face {
    font-family: 'Intersemibolditialic';
    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
        url('Inter-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Librebaskerville';
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
        url('LibreBaskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratbold';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratblackitalic';
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('Montserrat-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Montserratextrabold';
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratblack';
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratbolditialic';
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),,
        url('Montserrat-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Montserratextralight';
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratextrabolditialic';
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('Montserrat-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Montserratextralightitialic';
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic')
        url('Montserrat-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Montserratitalic';
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('Montserrat-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Montserratsemibold';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
    
    
    
    
    
    
    
@font-face {
    font-family: 'Montserratsemibolditalic';
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;}

@font-face {
    font-family: 'Muliblackitialic';
    src: local('Muli Black Italic'), local('Muli-BlackItalic'),
        url('Muli-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Mulibold';
    src: local('Muli Bold'), local('Muli-Bold'),
        url('Muli-Bold.woff2') format('woff2'),);
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Muliblack';
    src: local('Muli Black'), local('Muli-Black'),
        url('Muli-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Muliextrabolditialic';
    src: local('Muli ExtraBold Italic'), local('Muli-ExtraBoldItalic'),
        url('Muli-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Muliextralight';
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
        url('Muli-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Mulibolditalic';
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'),
        url('Muli-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Muliextrabold';
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
        url('Muli-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Muliitalic';
    src: local('Muli Italic'), local('Muli-Italic'),
        url('Muli-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Muliextralightitalic';
    src: local('Muli ExtraLight Italic'), local('Muli-ExtraLightItalic'),
        url('Muli-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Mulisemibolditialic';
    src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'),
        url('Muli-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Mulisemibold';
    src: url('Muli-SemiBold.eot');
    src: local('Muli SemiBold'), local('Muli-SemiBold'),
        url('Muli-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'muli';
    src: local('Muli Regular'), local('Muli-Regular'),
        url('Muli-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
    
    
    
    
    
    

@font-face {
    font-family: 'Firacodesemibold';
    src: local('Fira Code SemiBold'), local('FiraCode-SemiBold'),
        url('FiraCode-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Firacode';
    src: url('FiraCode-Regular.eot');
    src: local('Fira Code Regular'), local('FiraCode-Regular'),
        url('FiraCode-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Firacodebold';
    src: url('FiraCode-Bold.eot');
    src: local('Fira Code Bold'), local('FiraCode-Bold'),
        url('FiraCode-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Josefinsansitialic';
    src: local('Josefin Sans Italic'), local('JosefinSans-Italic'),
        url('JosefinSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Josefinsansbolditialic';
    src: local('Josefin Sans Bold Italic'), local('JosefinSans-BoldItalic'),
        url('JosefinSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Josefinsansbold';
    src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'),
        url('JosefinSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}
    @font-face {
    font-family: 'Playfairdisplaybold';
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
        url('PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Playfairdisplayblackitalic';
    src: local('Playfair Display Black Italic'), local('PlayfairDisplay-BlackItalic'),
        url('PlayfairDisplay-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
    @font-face {
    font-family: 'Playfairdisplayitialic';
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
         url('PlayfairDisplay-Italic.woff2') format('woff2'));
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Playfairdisplay';
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
        url('PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'lato';
    src: local('Lato Regular'), local('Lato-Regular'),
        url('Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'PlayfairDisplayblack';
    src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
        url('PlayfairDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Latobolditalic';
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url('Lato-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
    
    
    
    
    
    
@font-face {
    font-family: 'Latoitalic';
    src: local('Lato Italic'), local('Lato-Italic'),
        url('Lato-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'LatoBlackitalic';
    src: local('Lato Black Italic'), local('Lato-BlackItalic'),,
        url('Lato-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'Latoblack';
    src: local('Lato Black'), local('Lato-Black'),
        url('Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Latobold';
    src: local('Lato Bold'), local('Lato-Bold'),
        url('Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
    @font-face {
font-family: 'berkshire_swashregular';
src: url('berkshireswash-regular-webfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;}