@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), local('BebasNeue'),
        url('BebasNeue.woff2') format('woff2'),
        url('BebasNeue.woff') format('woff'),
        url('BebasNeue.ttf') format('truetype'),
        url('BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Bebas Neuebold';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('BebasNeueBold.woff2') format('woff2'),
        url('BebasNeueBold.woff') format('woff'),
        url('BebasNeueBold.ttf') format('truetype'),
        url('BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('BebasNeueBook.woff2') format('woff2'),
        url('BebasNeueBook.woff') format('woff'),
        url('BebasNeueBook.ttf') format('truetype'),
        url('BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neueregular';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('BebasNeueRegular.woff2') format('woff2'),
        url('BebasNeueRegular.woff') format('woff'),
        url('BebasNeueRegular.ttf') format('truetype'),
        url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Black';
    src: local('Inter Black'), local('Inter-Black'),
        url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff'),
        url('Inter-Black.ttf') format('truetype'),
        url('Inter-Black.svg#Inter-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Blackitialic';
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
        url('Inter-BlackItalic.woff2') format('woff2'),
        url('Inter-BlackItalic.woff') format('woff'),
        url('Inter-BlackItalic.ttf') format('truetype'),
        url('Inter-BlackItalic.svg#Inter-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'InterBold Extraitialic';
    src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
        url('Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('Inter-ExtraBoldItalic.woff') format('woff'),
        url('Inter-ExtraBoldItalic.ttf') format('truetype'),
        url('Inter-ExtraBoldItalic.svg#Inter-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Inter Extrabold';
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff'),
        url('Inter-ExtraBold.ttf') format('truetype'),
        url('Inter-ExtraBold.svg#Inter-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Bolditialic';
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('Inter-BoldItalic.woff2') format('woff2'),
        url('Inter-BoldItalic.woff') format('woff'),
        url('Inter-BoldItalic.ttf') format('truetype'),
        url('Inter-BoldItalic.svg#Inter-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}







@font-face {
    font-family: 'Inter bold';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff'),
        url('Inter-Bold.ttf') format('truetype'),
        url('Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskervillebold';
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
        url('LibreBaskerville-Bold.woff2') format('woff2'),
        url('LibreBaskerville-Bold.woff') format('woff'),
        url('LibreBaskerville-Bold.ttf') format('truetype'),
        url('LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff'),
        url('Inter-Regular.ttf') format('truetype'),
        url('Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff'),
        url('Inter-SemiBold.ttf') format('truetype'),
        url('Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Italic'), local('Inter-Italic'),
        url('Inter-Italic.woff2') format('woff2'),
        url('Inter-Italic.woff') format('woff'),
        url('Inter-Italic.ttf') format('truetype'),
        url('Inter-Italic.svg#Inter-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
        url('LibreBaskerville-Italic.woff2') format('woff2'),
        url('LibreBaskerville-Italic.woff') format('woff'),
        url('LibreBaskerville-Italic.ttf') format('truetype'),
        url('LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}




@font-face {
    font-family: 'Inter';
    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
        url('Inter-SemiBoldItalic.woff2') format('woff2'),
        url('Inter-SemiBoldItalic.woff') format('woff'),
        url('Inter-SemiBoldItalic.ttf') format('truetype'),
        url('Inter-SemiBoldItalic.svg#Inter-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
        url('LibreBaskerville-Regular.woff2') format('woff2'),
        url('LibreBaskerville-Regular.woff') format('woff'),
        url('LibreBaskerville-Regular.ttf') format('truetype'),
        url('LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-BlackItalic.woff2') format('woff2'),
        url('Montserrat-BlackItalic.woff') format('woff'),
        url('Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff'),
        url('Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff'),
        url('Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-BoldItalic.woff2') format('woff2'),
        url('Montserrat-BoldItalic.woff') format('woff'),
        url('Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff'),
        url('Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}











@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('Montserrat-ExtraLightItalic.woff') format('woff'),
        url('Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Italic.woff2') format('woff2'),
        url('Montserrat-Italic.woff') format('woff'),
        url('Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff'),
        url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('Montserrat-SemiBoldItalic.woff') format('woff'),
        url('Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli Blackitialic';
    src: url('Muli-BlackItalic.eot');
    src: local('Muli Black Italic'), local('Muli-BlackItalic'),
        url('Muli-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-BlackItalic.woff2') format('woff2'),
        url('Muli-BlackItalic.woff') format('woff'),
        url('Muli-BlackItalic.svg#Muli-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Muli bold';
    src: url('Muli-Bold.eot');
    src: local('Muli Bold'), local('Muli-Bold'),
        url('Muli-Bold.eot?#iefix') format('embedded-opentype'),
        url('Muli-Bold.woff2') format('woff2'),
        url('Muli-Bold.woff') format('woff'),
        url('Muli-Bold.svg#Muli-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}







@font-face {
    font-family: 'Muli Black';
    src: url('Muli-Black.eot');
    src: local('Muli Black'), local('Muli-Black'),
        url('Muli-Black.eot?#iefix') format('embedded-opentype'),
        url('Muli-Black.woff2') format('woff2'),
        url('Muli-Black.woff') format('woff'),
        url('Muli-Black.svg#Muli-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli Extrabolditialic';
    src: url('Muli-ExtraBoldItalic.eot');
    src: local('Muli ExtraBold Italic'), local('Muli-ExtraBoldItalic'),
        url('Muli-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraBoldItalic.woff2') format('woff2'),
        url('Muli-ExtraBoldItalic.woff') format('woff'),
        url('Muli-ExtraBoldItalic.svg#Muli-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}









@font-face {
    font-family: 'Muli Extralight';
    src: url('Muli-ExtraLight.eot');
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
        url('Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraLight.woff2') format('woff2'),
        url('Muli-ExtraLight.woff') format('woff'),
        url('Muli-ExtraLight.svg#Muli-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli Bolditalic';
    src: url('Muli-BoldItalic.eot');
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'),
        url('Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-BoldItalic.woff2') format('woff2'),
        url('Muli-BoldItalic.woff') format('woff'),
        url('Muli-BoldItalic.svg#Muli-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli Extrabold';
    src: url('Muli-ExtraBold.eot');
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
        url('Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraBold.woff2') format('woff2'),
        url('Muli-ExtraBold.woff') format('woff'),
        url('Muli-ExtraBold.svg#Muli-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Muli Italic';
    src: url('Muli-Italic.eot');
    src: local('Muli Italic'), local('Muli-Italic'),
        url('Muli-Italic.eot?#iefix') format('embedded-opentype'),
        url('Muli-Italic.woff2') format('woff2'),
        url('Muli-Italic.woff') format('woff'),
        url('Muli-Italic.svg#Muli-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Muli Extralightitalic';
    src: url('Muli-ExtraLightItalic.eot');
    src: local('Muli ExtraLight Italic'), local('Muli-ExtraLightItalic'),
        url('Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-ExtraLightItalic.woff2') format('woff2'),
        url('Muli-ExtraLightItalic.woff') format('woff'),
        url('Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;}













@font-face {
    font-family: 'Muli Semibolditialic';
    src: url('Muli-SemiBoldItalic.eot');
    src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'),
        url('Muli-SemiBoldItalic.woff2') format('woff2'),
        url('Muli-SemiBoldItalic.woff') format('woff'),
        url('Muli-SemiBoldItalic.svg#Muli-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli Semibold';
    src: url('Muli-SemiBold.eot');
    src: local('Muli SemiBold'), local('Muli-SemiBold'),
        url('Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Muli-SemiBold.woff2') format('woff2'),
        url('Muli-SemiBold.woff') format('woff'),
        url('Muli-SemiBold.svg#Muli-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Regular.eot');
    src: local('Muli Regular'), local('Muli-Regular'),
        url('Muli-Regular.eot?#iefix') format('embedded-opentype'),
        url('Muli-Regular.woff2') format('woff2'),
        url('Muli-Regular.woff') format('woff'),
        url('Muli-Regular.svg#Muli-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Fira Codesemibold';
    src: url('FiraCode-SemiBold.eot');
    src: local('Fira Code SemiBold'), local('FiraCode-SemiBold'),
        url('FiraCode-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('FiraCode-SemiBold.woff2') format('woff2'),
        url('FiraCode-SemiBold.woff') format('woff'),
        url('FiraCode-SemiBold.svg#FiraCode-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.eot');
    src: local('Fira Code Regular'), local('FiraCode-Regular'),
        url('FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
        url('FiraCode-Regular.woff2') format('woff2'),
        url('FiraCode-Regular.woff') format('woff'),
        url('FiraCode-Regular.svg#FiraCode-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
@font-face {
    font-family: 'Fira Codebold';
    src: url('FiraCode-Bold.eot');
    src: local('Fira Code Bold'), local('FiraCode-Bold'),
        url('FiraCode-Bold.eot?#iefix') format('embedded-opentype'),
        url('FiraCode-Bold.woff2') format('woff2'),
        url('FiraCode-Bold.woff') format('woff'),
        url('FiraCode-Bold.svg#FiraCode-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Josefin Sansitialic';
    src: url('JosefinSans-Italic.eot');
    src: local('Josefin Sans Italic'), local('JosefinSans-Italic'),
        url('JosefinSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Italic.woff2') format('woff2'),
        url('JosefinSans-Italic.woff') format('woff'),
        url('JosefinSans-Italic.svg#JosefinSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
    
    
    
    
    
    
    @font-face {
    font-family: 'Josefin Sansbolditialic';
    src: url('JosefinSans-BoldItalic.eot');
    src: local('Josefin Sans Bold Italic'), local('JosefinSans-BoldItalic'),
        url('JosefinSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-BoldItalic.woff2') format('woff2'),
        url('JosefinSans-BoldItalic.woff') format('woff'),
        url('JosefinSans-BoldItalic.svg#JosefinSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
    
    
    
    
    
@font-face {
    font-family: 'Josefin Sansbold';
    src: url('JosefinSans-SemiBold.eot');
    src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'),
        url('JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-SemiBold.woff2') format('woff2'),
        url('JosefinSans-SemiBold.woff') format('woff'),
        url('JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
    
@font-face {
    font-family: 'PlayfairDisplaybold';
    src: url('PlayfairDisplay-Bold.eot');
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
        url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Bold.woff2') format('woff2'),
        url('PlayfairDisplay-Bold.woff') format('woff'),
        url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}
    @font-face {
    font-family: 'PlayfairDisplayblackitalic';
    src: url('PlayfairDisplay-BlackItalic.eot');
    src: local('Playfair Display Black Italic'), local('PlayfairDisplay-BlackItalic'),
        url('PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('PlayfairDisplay-BlackItalic.woff') format('woff'),
        url('PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
    @font-face {
    font-family: 'PlayfairDisplayitialic';
    src: url('PlayfairDisplay-Italic.eot');
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
        url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Italic.woff2') format('woff2'),
        url('PlayfairDisplay-Italic.woff') format('woff'),
        url('PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
    @font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Regular.eot');
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
        url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay-Regular.woff') format('woff'),
        url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
    @font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
    @font-face {
    font-family: 'PlayfairDisplay Black';
    src: url('PlayfairDisplay-Black.eot');
    src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
        url('PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Black.woff2') format('woff2'),
        url('PlayfairDisplay-Black.woff') format('woff'),
        url('PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}
    
    
    
    
    
    @font-face {
    font-family: 'Latobold Italic';
    src: url('Lato-BoldItalic.eot');
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BoldItalic.woff2') format('woff2'),
        url('Lato-BoldItalic.woff') format('woff'),
        url('Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;}
@font-face {
    font-family: 'LatoItalic';
    src: url('Lato-Italic.eot');
    src: local('Lato Italic'), local('Lato-Italic'),
        url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('Lato-Italic.woff2') format('woff2'),
        url('Lato-Italic.woff') format('woff'),
        url('Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;}
    @font-face {
    font-family: 'LatoBlack Italic';
    src: url('Lato-BlackItalic.eot');
    src: local('Lato Black Italic'), local('Lato-BlackItalic'),
        url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BlackItalic.woff2') format('woff2'),
        url('Lato-BlackItalic.woff') format('woff'),
        url('Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;}
    
    @font-face {
    font-family: 'Latoblack';
    src: url('Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
        url('Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('Lato-Black.woff2') format('woff2'),
        url('Lato-Black.woff') format('woff'),
        url('Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;}

@font-face {
    font-family: 'Latobold';
    src: url('Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lato-Bold.woff2') format('woff2'),
        url('Lato-Bold.woff') format('woff'),
        url('Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;}