a:focus { outline: solid darkgreen; }
@supports selector(:focus-visible) {
a:focus {}
a:focus-visible { outline: solid darkgreen; }
}
#about{
margin-top: 2rem;}
#aboutmeimg  {
float: left;    
margin-right: 1rem;
max-width: 28%;
max-height: 40%;}

.article p{
margin: 10%;
text-align: left;
font-size: 1.1rem;}
#articledate {
text-align: center;
font-size:1.1rem;}
.articlename { grid-area: articlename; }
#atitle{
text-decoration: none;
color:blue;
font-size : 1.5rem;
font-weight: bold;
line-height: 0}
#atitle a:link,
#atitle a:visited {
text-decoration: none;
color: blue;}
.blocklink {
position: relative;
border: .2em solid rgba(0,0,2,.15);
border-radius: 1em;
padding:1rem 0;}
.blocklink a[href]::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;}
.blocklink:hover, .blocklink:focus-within, .default:hover, .default:focus-within {
  border-color: black;}
.blocklink a[href]:hover, .blocklink a[href]:focus {
  outline: .4em black;
  outline-offset: .25em;}
/* NO IE */
.blocklink:hover a[href]:hover, .blocklink:hover a[href]:focus{ outline: none;}
#bq:before {
color: navy;
content: open-quote;
font-size: 2rem;
line-height: 0.1em;
margin-right: 0.25em;
vertical-align: -0.4em;}
#bq:after {
color: navy;
content: close-quote;
font-size: 2rem;
line-height: 0.1em;
margin-right: 0.25em;
vertical-align: -0.4em;}
#bq p {
font-family:lato, sans-serif;
display: inline;
font-size: 1.2rem;
margin:auto;
line-height: 1.5;
text-align: left;}
#bq {
background-color: lightgrey;
font-size:1.2rem;
border-left: 0.7rem solid navy;
padding:1rem 0;
margin-left: auto;}
body {
margin : 0;
font-family :Inter, sans-serif;
font-size : 100%;
font-style : normal;
font-weight : normal;
color: rgb(20, 15, 2);
background-color : rgb(240, 241, 244);}
.content {
padding: 2% 8%;
margin-right:5%;
margin-left: 5%;
text-align:center;}
.content h1 , .title h1 {
font-family:Playfairdisplay, sans-serif;
font-size: 1.7rem;
color: rgb(40, 28, 194);}
.content h2 , aside h2 {
font-family:Playfairdisplay, serif;
font-size : 1.5rem;
margin: 5% 0;
color: rgb(40, 28, 194);}
.content p {
margin: 1% 0;
font-family:Inter, sans-serif;
line-height: 2;
color: rgb(20, 15, 2);
text-align: left;
font-size: 1.2rem} 
.date { grid-area: date;}





#date {
color: rgb(20, 15, 2);
text-align: center;
font-family: Inter, sans-serif;
font-size:1.2rem;
margin-top: .4rem;
line-height: 0}
.email {
color: rgb(212, 212, 187);
padding: .5rem .5rem;
text-align: center;
text-decoration: underline;
display: inline-block;
margin-left:10% } 
figure {padding-top:2.5%;}
figcaption{
font-family:Interitialic, sans-serif;
font-size: 1.2rem;
line-height: 1.5;
text-align: center;}
footer { grid-area: footer;
background-color: black;
font-size:1.2rem;
font-family:Inter, sans-serif; }
footer a , footer a:visited {color: rgb(212, 212, 187);}
footer a:focus { outline: solid gold; }
@supports selector(:focus-visible) {
footer a:focus {}
footer a:focus-visible { outline: solid gold; }
}
.gridimg {
object-fit:contain;
-o-object-fit:contain;}
.header { grid-area: header; 
background : black;
text-align: center;}
header a {
color : rgb(125, 205, 225);
font-weight : bold;
padding : 4.75% 1.80%;
padding-right: 10%;
text-decoration : none;}
header a:link,
header a:visited {
text-decoration: none;
color:rgb(125, 205, 225);}
header a:focus { outline: solid gold; }
@supports selector(:focus-visible) {
header a:focus {}
header a:focus-visible { outline: solid gold; }
}	
header a:hover {
text-decoration: none;}
header a:current {
text-decoration: none;}
#heading h1 {
color: rgb(20, 15, 2);
line-height: 0;}
.layout {
width: 100%;
min-height: 100vh;
display: grid;
grid:
"header navigation" auto
"main main" 1fr
"footer footer" auto
/ auto;
gap:0;}
.main { grid-area: main; }
#menu {
font-family: Montserratbold, sans-serif;
letter-spacing: .5px;
margin-left :5%;
padding-top: 2.8%;
list-style : none;
font-size : 1.5rem;
line-height : 2.5;}
#menu a:link,
#menu a:visited {
text-decoration: none;
color:lightblue;}
#menu a:focus { outline: solid gold; }
@supports selector(:focus-visible) {
#menu a:focus {}
#menu a:focus-visible { outline: solid gold; }
}	
#menu a:hover {
text-decoration: none;}
#menu a:current {
text-decoration: none;}
#menu li {
display: inline;}
li.current a {color: lightblue;}
#menu a {
color : lightblue;
padding : 4.75% 1.80%;
text-decoration : none;
margin: 1.5rem;}


.navigation { grid-area: navigation; 
background : black;}
.nestedgrid {
width: 100%;
display: grid;
grid:
"articlename articlename" auto
"date date" auto
"summary photo" auto
/ auto;
gap: 1rem;
grid-auto-flow: column;
align-content: start;}
.photo { grid-area: photo; }
#preview {
max-width: 100%;}
#removestyle{
text-decoration: none;}
.responsiveimg {
max-width: 25%;
max-height: 25%;}
.sitename {
line-height : 4;
font-size : 2rem;
font-weight : bold;
font-family: berkshire_swashregular, serif;
word-spacing: .5rem;
text-decoration:none}
.skip {
position: absolute;
display: inline-block;
padding: .400rem .75rem;
line-height: 1;
font-size: 1.25rem;
background-color: white;
color: black;}
.skip:not(:focus) {
height: 1px;
width: 1px;
overflow: hidden;
white-space: nowrap;
clip: rect(0 0 0 0);
clip-path: inset(50%);}
.summary { grid-area: summary; }
.websiteinfo {
color : rgb(212, 212, 187);}
.websiteinfo p {
text-align :center;
padding: 2% 0}
@media screen and (max-width: 628px) {
#about{
padding-left: 2.2rem;
padding-right:2.2rem;
margin: 0.4rem;}
#aboutmeimg {
max-width: 58%;
float: none;
margin-bottom:2rem;
margin-top:2rem;}
#articlespace{
margin-left: 1rem;}
figcaption {
text-align: left;}
.gridimg {
object-fit:scale-down;
-o-object-fit:scale-down;
height:100%;
width: 100%;}
.header a {
padding: 0;}
.layout {
width: 100%;
height: 100%;
display: grid;
grid:
"header header" auto 
"navigation navigation" auto
"main main" 1fr
"footer footer" auto
/ auto;
gap:0;}
#menu {
margin-right:2.8rem;}
#menu a {
margin: 0 1rem;;
display: inline-block;
vertical-align: middle;
line-height: normal;}
.navigation {
text-align: center;
line-height :.8;}









.nestedgrid {
width: 100%;
display: grid;
grid:
"date date" auto
"articlename articlename" auto
"photo photo" auto
"summary summary" auto
/ auto;
gap: 1em;
grid-auto-flow: column;
align-content: start;}
.sitename {
line-height : 2.8;
margin-top: -.2rem;
text-align: center;}
}
@media screen and (min-width: 700px) {
#articlespace{
margin-left: 5%;}
#preview  {
max-height: 70%;}
}
@media screen and (min-width: 785px) {
.content {
padding: 2% 8%;
margin-left: 14%;
margin-right:14%; }
}
@media print  {
body  { 
font-size: 1em;}
body, .intro, .websiteinfo, a:link, a:visited, a:focus, a:hover, a:active{color: darkslategrey;}
body, .intro, .websiteinfo  {
background-color: transparent; }
#menu {display: none;}
#sitename{font-style: normal;}
}