@font-face {
font-family: 'berkshire_swashregular';
src: url('berkshireswash-regular.ttf');
src: url('berkshireswash-regular-webfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;}
blockquote {font-family:'Josefin Sansitialic';
font-size:110%;
border-left: 10px solid grey;
margin: 1.5em 10px;
padding: 0.5em 10px;}
  
  
.websiteinfo p {
text-align : center;
padding: 2% 0} 
.nestedgrid {
	width: 100%;
    /*min-height: 100vh;*/
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(8, auto);
	gap: 1em;
	width: 100%;
	height: 100%;}
.articlea {
	grid-area: 1 / 2 / 5 / 4;;}
.photoa {
	grid-area: 1 / 4 / 2 / 5;}
blockquote:before {
  color: grey;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;}
blockquote p {
 display: inline;}
figure {padding-top:2.5%;}
figcaption {font-family:Inter;
font-size: 100%;
font-style: italic;
line-height: 1.5;
text-align: center;}
.email {
  font-family: 'Playfair Display';
  font-weight: bold;
  background-color:lightblue ;
  border: none;
  color: black;
  padding: .5em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 20%;
  margin-left:10% }	
.nodisplay {
visibility:hidden;}
.title {
font-family:'Playfair Display';
font-weight: bold;
color: rgb(40, 28, 194);
font-size:150%;
text-align: center;}
.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid:
    "header navigation" auto
    "main main" 1fr
    "footer footer" auto
    / 50% auto;
  gap: 5px 0;}
#atitle{
  text-decoration: none;
  color:blue;
  font-size : 125%;
  font-weight: bold;}
#atitle a:link,
#atitle a:visited {
  text-decoration: none;
  color: blue;}
.header { grid-area: header; }
.navigation { grid-area: navigation; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.skip {
  position: absolute;
  display: inline-block;
  padding: .375rem .75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: white;
  color: black;}
.skip:not(:focus) {
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);}
body {
margin : 0;
font-family :Inter, Arial;
font-size : 110%;
font-style : normal;
font-weight : normal;
color: rgb(20, 15, 2);
background-color : rgb(240, 241, 244);}

h1 , h2 {font-weight: inherit;}
.intro {
background : black;
text-align : center;}
.intro p {
text-align: center;}
.responsiveimg {
max-width: 25%;
max-height: 25%;}
#aboutmeimg  {
float: left;    
margin: 0 15px 0 0;}
.article {
text-align: center;}
#preview {
max-width: 150%;
padding-right:25%;
padding-top: 12%;
/*max-height: 80%;*/ 
/*display: none*/ }
.articlespace {
	text-align: left;
    /*padding-left:25%;
    padding-top:5%;*/}
#sitename {
	color: rgb(125, 205, 225);
	line-height : 4;
	font-size : 200%;
	font-weight : bold;
	font-family: berkshire_swashregular, Georgia;
	word-spacing: .5em;
	text-decoration:none}
.article p{
margin: 10%;}
#sitename a:focus,
#sitename a:active, a:hover {
  color:gold;
  text-decoration: underline;}
#menu {
	margin-left :5%;
	padding-top: 2.8%;
	list-style : none;
	overflow : hidden;
	font-size : 150%;
	line-height : 2.5;}
.navigation {
	background-color: black;
	font-family: 'Playfair Design';}
#menu li {
  display: inline;}
#menu li::before {
  content: "\200B";}
li.current a {color: grey;}
#menu a {
	color : lightblue;
	font-weight : bold;
	padding : 4.75% 1.80%;
	padding-right: 10%;
	text-decoration : none;}
#menu a:link,
#menu a:visited {
  text-decoration: none;
  color:lightblue;}
#menu a:focus, 
 a:active {
text-decoration: underline;
	color : gold;
	outline: inherit;}	
#menu a:hover {
	text-decoration: underline;
	color : gold;
	outline: inherit;}
#menu a:current {
text-decoration: none; color: gold;}
a:visited{
color :maroon;}
a:hover{
outline: solid darkgreen;}
a:focus, 
a:active {
outline: solid darkgreen;}
.content , .related {
padding: 2% 8%;
margin-right:5%;
margin-left: 5%;
text-align:center;}
.about{
padding: 2% 8%; 
text-align:center;}
.about p{
font-family: Inter;}
.main, aside, footer, header, nav{
display:block;}
footer {
background-color: black;}
.websiteinfo {
color : rgb(212, 212, 187);}




.footer a:focus,
.footer a:active, .footer a:hover  {
  color:navy;
  text-decoration: underline;}
/*.content h1 , .aside h1 {
font-size : 110%;
text-align : center;
margin: 1% 0;
padding: .5% 0 2% 0;}*/
.content h2 , aside h2 {
font-size : 1.1em;
text-align : center;
margin: 1% 0}
.content p , .related p {
margin: 1% 0;
font-family:Inter;
line-height: 2;} 
footer p a , footer p a:visited {color: black;}
.related a{
  text-align: center;
  display:block;}
.subjects h2, p{
	font-family: arial;
	font-size:105%;
	line-height: 2;
	text-align: left;}
.subjects h1{ 
	font-family: sans-serif;
	font-weight: bold;
	font-size:1.2em;
	font-variant: normal;}
.subjects li {
  list-style: none;}
.subjects li::before {
  content: "\200B";}
time{
	text-align: right;
	font-family: Inter;
	font-weight: bold;
	font-size:1.2em;
	margin-top: .4em;
	display: block;}
	.subjects li a{
font-weight: bolder;}
@media screen and (max-width: 520px) {
#menu a {/*padding: 0.5em 7.5em;*/
text-align: center;
font-weight: bold;}	
.layout {
width: 100%;
height: 100%;
display: grid;
grid:
"header" auto
"navigation" auto
"main" 1fr
"footer" auto
/ 1fr;
gap: 0;}
  }
@media screen and (min-width: 700px) {
.articlespace {
padding-left:25%;
padding-top:5%;
/*max-width: 40ch;*/
text-align: left;}
#preview  {
max-width: 70%;
max-height: 70%;
/*float: right;*/
padding-right:25%;
padding-top: 8%;
display: block;}}
@media screen and (min-width: 785px) {
.content , .related {
padding: 2% 8%;
margin-left: 14%;
margin-right:14%; 
text-align:center;}
}
@media print  {
body  { 
font-size: 1em;}
#menu {display: none;}
body, .intro, .websiteinfo, a:link, a:visited, a:focus, a:hover, a:active{color: darkslategrey;}
body, .intro, .websiteinfo  {
background-color: transparent; }
#sitename{font-style: normal;}
.page{
display: initial;}
}