a:visited{
color :maroon;}
a:hover{
outline: solid darkgreen;}
a:focus, 
a:active {
outline: solid darkgreen;}
 #removestyle{
text-decoration: none;}




.nestedgrid {
width: 100%;
display: grid;
grid:
"heading heading" auto
"articlename articlename" auto
"date date" auto
"summary photo" auto
/ auto;
gap: 1em;
grid-auto-flow: column;
align-content: start;
height: 100%;}
.heading { grid-area: heading;}
.articlename { grid-area: articlename; }
.date { grid-area: date;}
.summary { grid-area: summary; }
.photo { grid-area: photo; }
#date {
color: rgb(20, 15, 2);
	text-align: center;
	font-family: Inter, sans-serif;
	font-size:1.1rem;
	margin-top: .4rem;}
blockquote:before {
  color: grey;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;}
blockquote p {
 display: inline;}
 blockquote {font-family:Josefinsansitialic, sans-serif;
font-size:110%;
border-left: 0.7em solid grey;
margin: 150% 107%;
padding: 0.5em 0.7em;}
figure {padding-top:2.5%;}
figcaption {font-family:Interitialic, sans-serif;
font-size: 1.2em;
line-height: 1.5;
text-align: center;}
.email {
  font-family: Playfairdisplay, sans-serif;
  font-weight: bold;
  background-color:white ;
  border: none;
  color: black;
  padding: .5em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 20%;
  margin-left:10% }	
.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid:
    "header navigation" auto
    "main main" 1fr
    "footer footer" auto
    / auto;
  gap:0;}
#atitle{
  text-decoration: none;
  color:blue;
  font-size : 1.5em;
  font-weight: bold;}
#atitle a:link,
#atitle a:visited {
  text-decoration: none;
  color: blue;}
.header { grid-area: header; }
.header a {
	color : rgb(125, 205, 225);
	font-weight : bold;
	padding : 4.75% 1.80%;
	padding-right: 10%;
	text-decoration : none;}
.header a:link,
.header a:visited {
  text-decoration: none;
  color:rgb(125, 205, 225);}
.header a:focus, 
 a:active {
text-decoration: underline;
	color : gold;
	outline: inherit;}	
.header a:hover {
	text-decoration: underline;
	color : gold;
	outline: inherit;}
.header a:current {
text-decoration: none; color: gold;}
.navigation { grid-area: navigation;
background-color: black; }

.main { grid-area: main; }
.footer { grid-area: footer;
background-color: black;
font-size:1.2rem; }
.footer a:focus,
.footer a:active, .footer a:hover  {
  color:navy;
  text-decoration: underline;}
  footer p a , footer p a:visited {color: black;}
  .skip {
  position: absolute;
  display: inline-block;
  padding: .400rem .75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: white;
  color: black;}
  .skip:not(:focus) {
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);}
body {
margin : 0;
font-family :Inter, sans-serif;
font-size : 100%;
font-style : normal;
font-weight : normal;
color: rgb(20, 15, 2);
background-color : rgb(240, 241, 244);}
.intro {
background : black;
text-align : center;}
.intro p {
text-align: center;}
.responsiveimg {
max-width: 25%;
max-height: 25%;}
#aboutmeimg  {
float: left;    
margin-right: 1em;
max-width: 28%;
max-height: 40%;}
.article h1, h2{
text-align: center;}
.article p{
margin: 10%;
text-align: left;
font-size: 1.1em;}
#preview {
max-width: 100%;
padding-right:25%;
padding-top: 12%;}
.articlespace {
	text-align: left;}
.sitename {
	line-height : 4;
	font-size : 200%;
	font-weight : bold;
	font-family: berkshire_swashregular, serif;
	word-spacing: .5em;
	text-decoration:none}
#menu {
	font-family: Librebaskervillebold, sans-serif;
	margin-left :5%;
	padding-top: 2.8%;
	list-style : none;
	overflow : hidden;
	font-size : 150%;
	line-height : 2.5;}
#menu li {
  display: inline;}
#menu li::before {
  content: "\200B";}
li.current a {color: grey;}
#menu a {
	color : lightblue;
	padding : 4.75% 1.80%;
	padding-right: 10%;
	text-decoration : none;}
#menu a:link,
#menu a:visited {
  text-decoration: none;
  color:lightblue;}
#menu a:focus, 
 a:active {
text-decoration: underline;
	color : gold;
	outline: inherit;}	
#menu a:hover {
	text-decoration: underline;
	color : gold;
	outline: inherit;}
#menu a:current {
text-decoration: none; color: gold;}




#about{
margin-right: 25%;
margin-top: 2em;
padding: 0;}
.websiteinfo {
font-family:Playfairdisplay, sans-serif;
color : rgb(212, 212, 187);}
.websiteinfo p {
text-align :center;
padding: 2% 0}
#heading h1 {
color: rgb(20, 15, 2);}
.content {
padding: 2% 8%;
margin-right:5%;
margin-left: 5%;
text-align:center;}
.content h1 , .title h1 {
font-family:Playfairdisplay, sans-serif;;
font-size: 1.7em;
text-align : center;
color: rgb(40, 28, 194);}
.content h2 , aside h2 {
font-family:Playfairdisplay, serif;
font-size : 1.5em;
text-align : center;
margin: 5% 0;
color: rgb(40, 28, 194);}
.content p {
margin: 1% 0;
font-family:Inter, sans-serif;
line-height: 2;
color: rgb(20, 15, 2);
text-align: left;
font-size: 1.2em} 
.date{
	}
@media screen and (max-width: 520px) {
#menu a {
	color : lightblue;
	font-weight : bold;
	padding : 4.75% 1.80%;
	padding-right: 10%;
	text-decoration : none;}
.layout {
width: 100%;
height: 100%;
display: grid;
grid:
"header header" auto 
"navigation navigation" auto
"main main" 1fr
    "footer footer" auto
    / auto;
  gap:0;}
.nestedgrid {
width: 100%;
display: grid;
grid:
"heading heading" auto
"date date" auto
"articlename articlename" auto
"photo photo" auto
"summary summary" auto
/ auto;
gap: 1em;
grid-auto-flow: column;
align-content: start;
height: 100%;}
.article p{
margin: 2.5%;
text-align: left;
font-size: 1em;}
#about{
padding-left: 2.2rem;
padding-right:2.2rem;
margin: 0.4rem;}
#aboutmeimg {
max-width: 58%;
float: none;
margin-bottom:2rem;
margin-top:2rem;}
}
@media screen and (min-width: 700px) {
.articlespace {
padding-left:25%;
text-align: left;}
#preview  {
max-width: 70%;
max-height: 70%;
padding-right:25%;
padding-top: 8%;}
}
@media screen and (min-width: 785px) {
	
	
	
	
	
	
.content {
padding: 2% 8%;
margin-left: 14%;
margin-right:14%; 
text-align:center;}
}
@media print  {
body  { 
font-size: 1em;}
#menu {display: none;}
body, .intro, .websiteinfo, a:link, a:visited, a:focus, a:hover, a:active{color: darkslategrey;}
body, .intro, .websiteinfo  {
background-color: transparent; }
#sitename{font-style: normal;}
}